.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Adjust as needed */
}

.check-users-button {
  margin-bottom: 10px;
}

.login-button {
  margin-bottom: 10px;
}

.signup-button {
  margin-bottom: 10px;
}

.open-modal-button {
  margin-bottom: 10px;
}